In [1]:
import pandas as pd

data = pd.read_csv("c:\\Users\\markm\\Desktop\\CAPSTONE\\capstone\\data\\external\\watson_healthcare_modified.csv")

In [2]:
data.head()

,EmployeeID,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,Shift,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1313919,41,No,Travel_Rarely,1102,Cardiology,1,2,Life Sciences,1,...,1,80,0,8,0,1,6,4,0,5
1,1200302,49,No,Travel_Frequently,279,Maternity,8,1,Life Sciences,1,...,4,80,1,10,3,3,10,7,1,7
2,1060315,37,Yes,Travel_Rarely,1373,Maternity,2,2,Other,1,...,2,80,0,7,3,3,0,0,0,0
3,1272912,33,No,Travel_Frequently,1392,Maternity,3,4,Life Sciences,1,...,3,80,0,8,3,3,8,7,3,0
4,1414939,27,No,Travel_Rarely,591,Maternity,2,1,Medical,1,...,4,80,1,6,3,3,2,2,2,2

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1676 entries, 0 to 1675
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeID                1676 non-null   int64
 1   Age                       1676 non-null   int64
 2   Attrition                 1676 non-null   object
 3   BusinessTravel            1676 non-null   object
 4   DailyRate                 1676 non-null   int64
 5   Department                1676 non-null   object
 6   DistanceFromHome          1676 non-null   int64
 7   Education                 1676 non-null   int64
 8   EducationField            1676 non-null   object
 9   EmployeeCount             1676 non-null   int64
 10  EnvironmentSatisfaction   1676 non-null   int64
 11  Gender                    1676 non-null   object
 12  HourlyRate                1676 non-null   int64
 13  JobInvolvement            1676 non-null   int64
 14  JobLevel                  1676 non-null   int64
 15  JobRole                   1676 non-null   object
 16  JobSatisfaction           1676 non-null   int64
 17  MaritalStatus             1676 non-null   object
 18  MonthlyIncome             1676 non-null   int64
 19  MonthlyRate               1676 non-null   int64
 20  NumCompaniesWorked        1676 non-null   int64
 21  Over18                    1676 non-null   object
 22  OverTime                  1676 non-null   object
 23  PercentSalaryHike         1676 non-null   int64
 24  PerformanceRating         1676 non-null   int64
 25  RelationshipSatisfaction  1676 non-null   int64
 26  StandardHours             1676 non-null   int64
 27  Shift                     1676 non-null   int64
 28  TotalWorkingYears         1676 non-null   int64
 29  TrainingTimesLastYear     1676 non-null   int64
 30  WorkLifeBalance           1676 non-null   int64
 31  YearsAtCompany            1676 non-null   int64
 32  YearsInCurrentRole        1676 non-null   int64
 33  YearsSinceLastPromotion   1676 non-null   int64
 34  YearsWithCurrManager      1676 non-null   int64
dtypes: int64(26), object(9)
memory usage: 458.4+ KB

In [4]:
y = data['Attrition']
x = data.drop(columns='Attrition')

In [7]:
print(x.shape)
print(y.shape)

(1676, 34)
(1676,)

In [8]:
y.unique()

array(['No', 'Yes'], dtype=object)

In [13]:
y.replace('No', 0, inplace=True)
y.replace('Yes', 1, inplace = True)

In [17]:
pip install lazypredict

Collecting lazypredictNote: you may need to restart the kernel to use updated packages.

  Downloading lazypredict-0.2.12-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: joblib in c:\users\markm\anaconda3\lib\site-packages (from lazypredict) (1.0.1)
Requirement already satisfied: tqdm in c:\users\markm\anaconda3\lib\site-packages (from lazypredict) (4.50.2)
Collecting xgboost
  Downloading xgboost-1.7.3-py3-none-win_amd64.whl (89.1 MB)
Requirement already satisfied: scikit-learn in c:\users\markm\anaconda3\lib\site-packages (from lazypredict) (1.0)
Collecting lightgbm
  Downloading lightgbm-3.3.5-py3-none-win_amd64.whl (1.0 MB)
Requirement already satisfied: click in c:\users\markm\anaconda3\lib\site-packages (from lazypredict) (7.1.2)
Requirement already satisfied: pandas in c:\users\markm\anaconda3\lib\site-packages (from lazypredict) (1.4.1)
Requirement already satisfied: numpy in c:\users\markm\anaconda3\lib\site-packages (from xgboost->lazypredict) (1.22.3)
Requirement already satisfied: scipy in c:\users\markm\anaconda3\lib\site-packages (from xgboost->lazypredict) (1.5.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\markm\anaconda3\lib\site-packages (from scikit-learn->lazypredict) (2.1.0)
Requirement already satisfied: wheel in c:\users\markm\anaconda3\lib\site-packages (from lightgbm->lazypredict) (0.35.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\markm\appdata\roaming\python\python38\site-packages (from pandas->lazypredict) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\markm\anaconda3\lib\site-packages (from pandas->lazypredict) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\markm\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->lazypredict) (1.15.0)
Installing collected packages: xgboost, lightgbm, lazypredict
Successfully installed lazypredict-0.2.12 lightgbm-3.3.5 xgboost-1.7.3

In [18]:
import lazypredict
from lazypredict.Supervised import LazyClassifier
from sklearn.model_selection import train_test_split

c:\Users\markm\anaconda3\lib\site-packages\dask\dataframe\utils.py:367: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)
c:\Users\markm\anaconda3\lib\site-packages\dask\dataframe\utils.py:367: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)
c:\Users\markm\anaconda3\lib\site-packages\dask\dataframe\utils.py:367: FutureWarning: pandas.UInt64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size =0.8, random_state=42)

clf = LazyClassifier(verbose=0, ignore_warnings=True, custom_metric=None)

models, predictions = clf.fit(x_train,x_test,y_train,y_test)

models

100%|██████████| 29/29 [00:03<00:00,  7.85it/s]

,Accuracy,Balanced Accuracy,ROC AUC,F1 Score,Time Taken
Model,,,,,
NearestCentroid,0.71,0.77,0.77,0.76,0.08
SGDClassifier,0.90,0.77,0.77,0.90,0.04
BernoulliNB,0.90,0.76,0.76,0.90,0.09
LinearSVC,0.90,0.75,0.75,0.90,0.07
LogisticRegression,0.92,0.75,0.75,0.91,0.11
Perceptron,0.90,0.75,0.75,0.90,0.07
AdaBoostClassifier,0.91,0.73,0.73,0.90,0.51
LinearDiscriminantAnalysis,0.90,0.72,0.72,0.89,0.35
PassiveAggressiveClassifier,0.89,0.72,0.72,0.89,0.08
LGBMClassifier,0.91,0.69,0.69,0.90,0.17
XGBClassifier,0.91,0.68,0.68,0.90,0.12
DecisionTreeClassifier,0.86,0.67,0.67,0.86,0.09
ExtraTreeClassifier,0.84,0.64,0.64,0.84,0.05
BaggingClassifier,0.90,0.63,0.63,0.88,0.19
ExtraTreesClassifier,0.91,0.63,0.63,0.88,0.36
RandomForestClassifier,0.90,0.60,0.60,0.87,0.36
GaussianNB,0.35,0.60,0.60,0.40,0.05
CalibratedClassifierCV,0.89,0.59,0.59,0.86,0.19
LabelPropagation,0.86,0.58,0.58,0.84,0.09
LabelSpreading,0.85,0.58,0.58,0.84,0.11
RidgeClassifier,0.89,0.57,0.57,0.86,0.05
RidgeClassifierCV,0.89,0.55,0.55,0.85,0.04
KNeighborsClassifier,0.88,0.53,0.53,0.83,0.13
SVC,0.88,0.51,0.51,0.82,0.08
DummyClassifier,0.88,0.50,0.50,0.82,0.06
QuadraticDiscriminantAnalysis,0.88,0.50,0.50,0.82,0.07

## First Method : Logistic Regression

## Second Model : Neural Network

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1676 entries, 0 to 1675
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeID                1676 non-null   int64
 1   Age                       1676 non-null   int64
 2   Attrition                 1676 non-null   int64
 3   BusinessTravel            1676 non-null   object
 4   DailyRate                 1676 non-null   int64
 5   Department                1676 non-null   object
 6   DistanceFromHome          1676 non-null   int64
 7   Education                 1676 non-null   int64
 8   EducationField            1676 non-null   object
 9   EmployeeCount             1676 non-null   int64
 10  EnvironmentSatisfaction   1676 non-null   int64
 11  Gender                    1676 non-null   object
 12  HourlyRate                1676 non-null   int64
 13  JobInvolvement            1676 non-null   int64
 14  JobLevel                  1676 non-null   int64
 15  JobRole                   1676 non-null   object
 16  JobSatisfaction           1676 non-null   int64
 17  MaritalStatus             1676 non-null   object
 18  MonthlyIncome             1676 non-null   int64
 19  MonthlyRate               1676 non-null   int64
 20  NumCompaniesWorked        1676 non-null   int64
 21  Over18                    1676 non-null   object
 22  OverTime                  1676 non-null   object
 23  PercentSalaryHike         1676 non-null   int64
 24  PerformanceRating         1676 non-null   int64
 25  RelationshipSatisfaction  1676 non-null   int64
 26  StandardHours             1676 non-null   int64
 27  Shift                     1676 non-null   int64
 28  TotalWorkingYears         1676 non-null   int64
 29  TrainingTimesLastYear     1676 non-null   int64
 30  WorkLifeBalance           1676 non-null   int64
 31  YearsAtCompany            1676 non-null   int64
 32  YearsInCurrentRole        1676 non-null   int64
 33  YearsSinceLastPromotion   1676 non-null   int64
 34  YearsWithCurrManager      1676 non-null   int64
dtypes: int64(27), object(8)
memory usage: 458.4+ KB

In [36]:
data.select_dtypes(include=['object']).head(2)

,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
0,Travel_Rarely,Cardiology,Life Sciences,Female,Nurse,Single,Y,Yes
1,Travel_Frequently,Maternity,Life Sciences,Male,Other,Married,Y,No

In [37]:
print("Department: ", data.Department.unique())
print("Business Data: ",data.BusinessTravel.unique())
print("EducationField: ",data.EducationField.unique())
print("Gender: ",data.Gender.unique())
print("JobRole: ",data.JobRole.unique())
print("MaritalStatus	: ",data.MaritalStatus	.unique())
print("Over18: ",data.Over18.unique())
print("OverTime: ", data.OverTime.unique())

Department:  ['Cardiology' 'Maternity' 'Neurology']
Business Data:  ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
EducationField:  ['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
Gender:  ['Female' 'Male']
JobRole:  ['Nurse' 'Other' 'Therapist' 'Administrative' 'Admin']
MaritalStatus	:  ['Single' 'Married' 'Divorced']
Over18:  ['Y']
OverTime:  ['Yes' 'No']

### Analysis
- Because we don't see many unique responses to any of these variables, *with Educational Field having the most with 6*, I am going to encode these variables in place rather than using get_dummies()

In [ ]:
### Script for parsing data for neural networks
def convert_numeric(data):

In [ ]:

def create_and_test_model(data, batch_size_range_start, batch_size_range_end
                          , epoch_range_start, epoch_range_end, max_score, min_loss
                          , best_batch_size, best_num_epochs, best_model, best_history, normalize = False):
    
    # take the data and split it into training and validation sets with proper encodings
    
    Y = data[:,-1:].copy()
    X = data[:,0:-1].copy()
    
    split_point = int(X.shape[0]*0.8)

    x_train = X[0:split_point, :]
    y_train = Y[0:split_point, :]

    x_val = X[split_point:, :]
    y_val = Y[split_point:, :]
    
    # way to one hot encode the target variable into categorical variables
    y_train = keras.utils.to_categorical(y_train, len(np.unique(Y)))
    y_val = keras.utils.to_categorical(y_val, len(np.unique(Y)))
    
    # need to do [1:] to allow for dimensionality compatability
    a = b = keras.layers.Input(shape = x_train.shape[1:])
    
    if normalize:
        print('****** With Normalization Layer *******')
        b = keras.layers.LayerNormalization(axis= -1)(b)

    # look at keras.activations options
    # make sure to functionalize the layer object so we pass tensors
    b = keras.layers.Dense(y_train.shape[1], activation = keras.activations.softmax)(b)
    
    
    # create loop to go through a large ranges of batch_size and epochs combinations to find the optimal combo
    for i in range(batch_size_range_start,batch_size_range_end,2):
        
        for j in range(epoch_range_start,epoch_range_end,5):
        
            batch_size = i
            epochs = j
            print("batch size : ", batch_size, "...  epochs :", epochs)
            # reset the model
            model = keras.Model(a,b)

            # Prep the model for -learning-
            model.compile(loss=keras.losses.CategoricalCrossentropy(),
                      optimizer=keras.optimizers.SGD(learning_rate=0.01),
                      metrics=keras.metrics.CategoricalAccuracy())


            # Train the model and record the training
            # urn off print because we will look at the best model
            history = model.fit(x_train, y_train,
                  batch_size = batch_size,
                  epochs = epochs,
                  verbose = 0,
                  validation_data = (x_val, y_val)
                           )
            # don't need to print out each evaluation
            score = model.evaluate(x_val, y_val, verbose = 0)
    
            if (score[1] > max_score):
                max_score = score[1]
                min_loss = score[0]
                best_batch_score = batch_size
                best_num_epochs = epochs
                # make sure to use deepcopy so we get the object not a reference
                best_model = copy.deepcopy(model)
                best_history = copy.deepcopy(history)
        
    return max_score, min_loss, best_batch_score, best_num_epochs, best_model, best_history